<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mvi.app">

    <application
        tools:replace="android:label, android:icon"
        android:icon="@drawable/baseline_alarm_off_24"
        android:label="@string/app_name_retailStageRelease">

        <activity
            tools:replace="android:label"
            android:label="@string/app_name_retailStageRelease"
            android:name="com.mvi.app.MainActivity">
        </activity>

    </application>

</manifest>